/* Reset default margin and padding */
body, h1, h2, p, ul, li, button, textarea {
    margin: 0;
    padding: 0;
    
}

/* Basic styling */
body {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;

    line-height: 1.6;

    background-color: #1b2028;
    color: #ddd;

    min-height: 100vh; /* Set minimum height to fill the viewport */
    display: flex;
    flex-direction: column;
    
}

header {
    background-color: #1b2028;
    color: #ddd;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a{
    text-decoration: none;
}

.logo {
    flex: 1;
    
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

.create-post a {
    background-color: #367238;
    color: #ddd;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 4px;
}


main {
    display: flex;
    flex: 1;
    justify-content: space-between;
    margin-top: 20px;
}

.content {
    flex: 2;
}





footer {
    background-color: #333;
    color: #424040; 
    padding: 10px;
    text-align: center;
    position: relative;
    margin-top: auto;
    font-size: small;
    text-decoration: none;
}

footer:hover{
    color: #ddd;
}

footer a:link,
footer a:visited {
    color: #424040; /* Unvisited link color */
    text-decoration: none;
}

footer a:hover {
    color: #ddd; /* Hovered link color */
}

footer a:focus {
    color: #ddd; /* Focused link color */
}

footer a:active {
    color: #424040; /* Active link color */
}




.social-links {
    list-style-type: none;
}

.social-links li {
    display: inline;
    margin-right: 10px;
}

.social-links li a {
    
    text-decoration: none;
}

h1{
    color: #6f5d44;
}



.sidebar{
    /* position: fixed; */
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    transition: opacity 0.3s ease; /* Adding transition effect */
    opacity: 0.3;
}
.sidebar:hover {
    opacity: 1;
}

.sidebar:hover::after {
    content: ""; /* Add an empty pseudo-element */
    position: absolute;
    top: 0;
    left: 0;
    width: 10%;
    height: 10%;
    background-color: rgba(77, 255, 0, 0.364); /* Set the background color same as original */
    opacity: 0.7; /* Set the opacity back to original value */
    pointer-events: none; /* Ensure mouse events don't get blocked */
}


.category_div {
    list-style-type: none;
    padding: 20px;
    text-decoration: none;
}






.posts_container{
    background-color: #367238;
    width: 100%;
    /* display: flex; */
}






/* create.html */

.create-logo{
    background-color: #367238;
    color: #ddd;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 4px;
    width: 60px;
    text-align: center;
    margin: auto;
}

.create_form{
    width: 30%;
    border: #367238 solid 1px;
    border-radius: 15px;
    margin: auto;
    text-align: center;
}
